/* ヘッダー文字サイズの調整 */
.top-header-size {
    font-size: 22px;
}
.menu-header-size {
    font-size: 17px;
}

/* モーダルのスタイル */
.modal {
    display: none; /* 初期状態では非表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 背後を半透明の黒にする */
    z-index: 9999; /* 最前面に表示 */
}
.modal-attention {
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;top: 50%;
    left: 50%;
    width: 300px;
    text-align: center;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* モーダル画面×マークで閉じる */
.image-container {
    position: relative;
    display: inline-block;
}

.closs-mark-button {
    position: absolute;
    width: 30px;
    right: 0;
    background-color: #000000;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    color: #ffffff;
    opacity: 0.4;
    border-radius: 50%;
}

/* ログイン画面 */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_name {
    width: 30%;
    margin-top: 20px;
}
.password {
    display: block;
    width: 30%;
    margin-top: 40px;
    margin-bottom: 50px;
}
.login-button {
    width: 30%;
    margin-bottom: 50px;
}

/* スレッドを開いた時の画像モーダル調整 */
.center-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/* スムーススクロールの実装 */
html {
    scroll-behavior: smooth;
}
.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 10px;
}
.scroll-image {
    height: 70px;
    opacity: 0.5;
}

/* カテゴリー検索のスペース */
.category-search th,
.category-search td {
    width: 135px;
}

/* 宿題投稿の記事部分 */
.click-range{
    cursor: hand;
    cursor:pointer;
}
.click-range:hover {
    background-color: #FFFFEE;
}

.small-text {
    font-size: 10px;
    color: #b3b3b3;
}
.main-text {
    font-size: 17px;
    color: #0202ba;
}
.side-text {
    display: inline-block;
}
.font-gray {
    color: #aaaaaa;
}

/* 選択コマンドの色を変更 */
.link-color {
    color: #EEEEEE !important;
}
.link-color:hover {
    color: #88FFFF !important;
}

/* ログインおよび新規アカウント登録の説明文字サイズ */
.login_font_size {
    font-size: 17px;
}

/* 宿題詳細画面 */
/* 文字サイズ等調整 */
.title-text {
    font-size: 25px;
    color: #000080;
    font-weight: bold;
}
.detail-text {
    font-size: 19px;
    color: #000080;
    font-weight: bold;
}
.reply-text {
    font-size: 19px;
    color: #000080;
    font-weight: bold;
}

/* 宿題が解決したボタンの色を濃い青に設定 */
.btn-Resolve {
    background-color: #0303ff;
    color: #ffffff;
}
.text-resolve {
    color: #0303ff;
}

/* ページネーション */
.all-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.pagination a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    transition: all 0.3s;
}
.pagination p {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ccc;
    background-color: #0e00cf;
    cursor: pointer;
}
.pagination a:hover {
    background-color: #0898ff;
    color: #fff;
}
@media (min-width: 767px) {
    .PC-detail-img {
        margin-right: 80px;
    }
    /* スマホ画面のみの表示クラスを消す */
    .SP-display {
        display: none;
    }
}
